<!doctype html>
<html class="no-js" lang="it">

<head>
    <meta charset="utf-8">
    <title>@Document.GetString("Title") - Consulenza Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="@Document.GetString("Title") - Consulenza Web">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Document.GetLink(true)" />
    <meta property="og:image" content="">

    <link rel="manifest" href="@Context.GetLink("/site.webmanifest")">
    <link rel="apple-touch-icon" href="@Context.GetLink("/icon.png")">


    <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">


    <link href="https://unpkg.com/purecss@2.0.3/build/base-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/grids-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/menus-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/forms-min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Gayathri&display=swap" rel="stylesheet"> 
    <link href="@Context.GetLink("css/styles.css")" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10835889-17"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-10835889-17');
    </script>

</head>

<body>


    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="@Document.GetLink(true)">Consulenza Web</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="https://www.linkedin.com/in/emanuelrighetto" class="pure-menu-link" target="_blank"><i class="fi-snsuxl-github-alt"></i></a></li>
                <li class="pure-menu-item"><a href="https://github.com/erighetto" class="pure-menu-link" target="_blank"><i class="fi-swluxl-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Consulenza Web</h1>
            <p class="splash-subhead">
                Sviluppo applicazioni web
            </p>
            <p>
                <a href="https://www.consulenzaweb.net" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>

    <div class="content-wrapper">

        <div class="content">
            <h2 class="content-head is-center">Custom Web Application Development</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Symfony
                    </h3>
                    <p>
                       Un framework Php per la progettazione e costruzione di applicazioni web complesse. A detta dei suoi stessi creatori, è "<em>un set di componenti Php riutilizzabili</em>" (cit. <a href="https://symfony.com/" target="_blank" rel="noopener noreferrer">sito ufficiale Symfony</a>), ma nella realtà si dimostra essere molto di più. Symfony è organizzazione, è generazione del codice, è dinamicità, è velocità, è una filosofia.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Drupal
                    </h3>
                    <p>
                        E' molto di più di un CMS: un vero e proprio framework. Molti esperti e sviluppatori lo definiscono un CMF o un framework di sviluppo. Con bassi costi di gestione e senza costi di licenza, consente di tagliare i tempi di messa in produzione dei contenuti automatizzando molte operazioni. Tra più di 26000 moduli sarà facile trovare quello giusto per te.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        WordPress
                    </h3>
                    <p>
                        Nel 2020 quasi il 43% di tutti i siti web al mondo si basano sul CMS che amichevolmente chiamiamo WP. Siti famosi che utilizzano WordPress ce ne sono a bizzeffe: siti di news, blog tecnologici, blog aziendali, siti di vip, siti di università e molti altri. WordPress risulta un cms adatto a creare praticamente qualsiasi tipo di sito web, soprattutto i siti di piccole/medie aziende o di liberi professionisti.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Magento
                    </h3>
                    <p>
                        L'evoluzione della piattaforma leader di eCommerce, utilizzata da più di 250.000 venditori online, capace di offrire maggiori opportunità di integrazione e flessibilità. In Italia chi sta utilizzando Magento 2? 5 nome che non hanno bisogno di presentazione: fizik.com manfrotto.com shop.delonghi.com store.liberoquotidiano.it store.inter.it
                    </p>
                </div>
            </div>
        </div>

        <div class="content">

            <div class="pure-g center-content">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    @RenderBody()
                </div>

            </div>

        </div>

        <div class="content">
            <h2 class="content-head is-center">Custom Web Application Development</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <form class="pure-form pure-form-stacked" data-netlify="true">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" type="text" placeholder="Your Name">


                            <label for="email">Your Email</label>
                            <input id="email" type="email" placeholder="Your Email">

                            <label for="message">Your Message</label>
                            <textarea id="message" class="pure-u-1" placeholder="Your Message"></textarea>

                            <button type="submit" class="pure-button">Drop us a line</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>
                        Non siamo solo sviluppatori appassionati. Siamo Cloud e DevOps engineer, Strategist.
                    </p>

                    <h4>More Information</h4>
                    <p>
                        Se hai un'idea per un progetto di una web app e vuoi conoscere un approccio diverso e creativo contattaci.
                    </p>
                </div>
            </div>

        </div>

        <div class="footer l-box is-center">
            @DateTime.Now.Year - Build with <a href="https://statiq.dev">Statiq</a>
        </div>

    </div>

    <script src="@Context.GetLink("/js/vendor/modernizr-3.11.2.min.js")"></script>
    <script src="@Context.GetLink("/js/plugins.js")"></script>
    <script src="@Context.GetLink("/js/main.js")"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')</script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
