<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>@Document.GetString("Title") - Consulenza Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="@Document.GetString("Title") - Consulenza Web">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Document.GetLink(true)" />
    <meta property="og:image" content="">

    <link rel="manifest" href="@Context.GetLink("/site.webmanifest")">
    <link rel="apple-touch-icon" href="@Context.GetLink("/icon.png")">


    <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">


    <link href="https://unpkg.com/purecss@2.0.3/build/base-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/grids-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/menus-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/buttons-min.css" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.3/build/forms-min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Gayathri&display=swap" rel="stylesheet"> 
    <link href="@Context.GetLink("css/styles.css")" rel="stylesheet">

    <meta name="theme-color" content="#fafafa">
</head>

<body>


    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="@Document.GetLink(true)">Consulenza Web</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="https://www.linkedin.com/in/emanuelrighetto" class="pure-menu-link" target="_blank"><i class="fi-snsuxl-github-alt"></i></a></li>
                <li class="pure-menu-item"><a href="https://github.com/erighetto" class="pure-menu-link" target="_blank"><i class="fi-swluxl-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Big Bold Text</h1>
            <p class="splash-subhead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
                <a href="https://www.consulenzaweb.net" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>

    <div class="content-wrapper">

        <div class="content">
            <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Get Started Quickly
                    </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Responsive Layouts
                    </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        Modular
                    </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Plays Nice
                    </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                </div>
            </div>
        </div>

        <div class="content">

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    @RenderBody()
                </div>

            </div>

        </div>

        <div class="footer l-box is-center">
            @DateTime.Now.Year - Build with <a href="https://statiq.dev">Statiq</a>
        </div>

    </div>

    <script src="@Context.GetLink("/js/vendor/modernizr-3.11.2.min.js")"></script>
    <script src="@Context.GetLink("/js/plugins.js")"></script>
    <script src="@Context.GetLink("/js/main.js")"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')</script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
